.aboutUsSection {
  width: 100%;
  text-align: center;
  height: 100hv;
  padding: 5rem 3rem;
}
.aboutUsSection h1 {
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 3rem;
}
.card {
  display: flex;
  justify-content: center;
}
.card .first {
  display: flex;
  justify-content: center;
  width: 20%;
  background-color: rgb(245, 245, 245);
}
.card .last {
  text-align: left;
  padding: 50px 40px;
  width: 35%;
  background-color: var(--text-color);
  color: white;
}
.card .last .avatarNameContainer {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 50px;
}
.card .last .avatar {
  width: 50px;
  border-radius: 100%;
  display: none;
}
.card .last h2 {
  font-size: 2.5rem;
  font-weight: 300;
}
.card .last h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.card .last .phones {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.card .last .phones div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.card .last .phones div p {
  font-size: 1.4rem;
  font-weight: 300;
}
.card .last .socialMedia {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1100px) {
  .card .first {
    display: none;
  }
  .card .last {
    width: 440px;
  }
  .card .last .avatar {
    display: inline-block;
  }

  .card .last .avatarNameContainer {
    align-items: flex-start;
  }
}
@media screen and (max-width: 450px) {
  .card .last {
    width: 100%;
  }
}
