.appSection {
  text-align: center;
  width: 70%;
  padding: 5rem 3rem;
}
.appSection .uploadContainer {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='%23285380FF' stroke-width='2' stroke-dasharray='15%2c 10' stroke-dashoffset='9' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 17px;

  padding: 8rem 0;
}
.appSection > h1 {
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.appSection div h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-color);
}
.appSection div p {
  font-size: 1.5rem;
  color: var(--text-color);
}
.appSection button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 13px;
  padding: 10px 50px;
  margin: 30px 0;
  font-size: 1.4rem;
  font-weight: 300;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .appSection {
    width: 100%;
  }
}
