.consultSection {
  background-color: var(--text-color);
  color: white;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  padding: 5rem;
  font-size: 1.4rem;
  margin-top: 100px;
}
.consultSection h1 {
  margin: 40px 0;
}

.consultSection button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 13px;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
}
