.diseasesSection {
  width: 100%;
  text-align: center;
  height: 100hv;
  padding: 5rem 3rem;
}
.diseasesSection h2,
.diseasesSection h1 {
  color: var(--main-color);
  font-size: 2.5rem;
}
.diseasesSection h1 {
  margin: 80px 0;
}

.diseasesSection p {
  color: var(--text-color);
  font-size: 1.5rem;
  margin-top: 50px;
}
.card {
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.card div:first-child {
  display: flex;
  justify-content: center;
  width: 30%;
}
.card img {
  border-radius: 10px;
}
.card div:last-child {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: left;
}
