.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7rem;
  background-color: #faeaea;
  width: 100%;
}
.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer div p {
  font-size: 25px;
}
.footer ul {
  font-size: 25px;
}

@media screen and (max-width: 890px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 3rem;
  }
  .footer div {
    width: 100%;
  }
}
@media screen and (max-width: 525px) {
  .footer div p {
    font-size: 22px;
  }
  .footer ul {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .footer div p {
    font-size: 22px;
  }
  .footer ul {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
}
