.homeSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5rem 0 4rem 0;
}

.homeSection h1 {
  font-size: 4rem;
  color: var(--main-color);
}

.homeSection p {
  font-size: 2rem;
  color: var(--text-color);
  margin: 45px 0;
}
.homeSection button {
  border: none;
  border-radius: 30px;
  font-size: 2rem;
  background-color: #f9e9ed;
  color: var(--main-color);
  padding: 2px 120px;
  cursor: pointer;
}

.homeSection img {
  border-radius: 10px;
  width: 25rem;
}

@media screen and (max-width: 1100px) {
  .homeSection h1 {
    font-size: 3rem;
  }
  .homeSection p {
    font-size: 1.5rem;
    margin: 30px 0;
  }
  .homeSection button {
    font-size: 1.5rem;
    padding: 2px 90px;
  }
  .homeSection img {
    border-radius: 10px;
    width: 20rem;
  }
}

@media screen and (max-width: 820px) {
  .homeSection h1 {
    font-size: 2rem;
  }
  .homeSection p {
    font-size: 1.2rem;
    margin: 30px 0;
  }
  .homeSection button {
    font-size: 1.2rem;
    padding: 2px 70px;
  }
  .homeSection img {
    border-radius: 10px;
    width: 15rem;
  }
}
@media screen and (max-width: 630px) {
  .homeSection div:last-child {
    display: none;
  }
  .homeSection div:first-child {
    text-align: center;
  }
  .homeSection h1 {
    font-size: 3rem;
  }
  .homeSection p {
    font-size: 1.6rem;
  }
  .homeSection button {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 5px 100px;
  }
}
