.resultSection {
  display: flex;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='%23285380FF' stroke-width='2' stroke-dasharray='15%2c 10' stroke-dashoffset='9' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 17px;
}
.resultSection .first {
  display: flex;
}
.resultSection .first img {
  width: 350px;
  border-radius: 20px;
  padding: 1px;
}

.resultSection ol {
  text-align: left;
}
